###############################################################################
# Node.js
###############################################################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

###############################################################################
# Build outputs
###############################################################################
dist/
build/
.out/
.next/
.cache/
.turbo/
coverage/

###############################################################################
# TypeScript
###############################################################################
*.tsbuildinfo

###############################################################################
# Environment & secrets
###############################################################################
.env*
*.pem
*.key
*.crt

###############################################################################
# OS / Editor specific
###############################################################################
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.iml

###############################################################################
# Misc
###############################################################################
logs/
*.log

/src/_*